body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  font-weight: 900;
}

h1{
  font-size: 4em;
  font-weight: 700;
  color: rgba(77, 76, 98, 1);
}

h2{
  font-size:2em;
  font-weight:500;
  color: rgba(124, 118, 136, 1);
}

 h3{
   font-size:30px;
   font-weight: 400;
   color: rgba(254, 217, 183, 1);
}

p{
  font-size:17px;
  font-weight:300;
  color:rgba(163, 168, 182, 1);


}
.kader_huisstijlen--default{
  font-size:30px;
  font-weight:500;

}

.kader_grafischontwerp--default{
  font-size:30px;
  font-weight:500;
}

.kader_webdesign--default{
  font-size:30px;
  font-weight:500;
}

.menubalk{
  font-size:60px;
  font-weight:500;
}

.hoofdmenu{
  font-size: 35px;
  font-weight:400;
}

.sidenav a {
  font-size: 25px;
}

.sidenav .closebtn{
  font-size: 36px;
}


